<mat-card id="account-deletion">
  <mat-card-header>
    <mat-card-title> Account Deletion </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div color="warn">
      Your account will be deleted. This action can not be undone, all data is
      going to be lost.<br />
      Type <b>DELETE</b> to proceed.
    </div>
    <form #doubleCheckInput="ngForm">
      <input ngModel #input="ngModel" name="input" />
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      *ngIf="showDelete"
      type="button"
      color="warn"
      [class.spinner]="loading"
      (click)="deleteAccount()"
    >
      <span *ngIf="!loading">DELETE</span>
    </button>
  </mat-card-actions>
</mat-card>
