<!DOCTYPE html>
<mat-card>
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="userDataForm"
      (ngSubmit)="registerUser()"
      id="user-data__container"
    >
      <mat-form-field>
        <input
          matInput
          id="user_name"
          placeholder="Username"
          type="text"
          formControlName="user_name"
        />
        <mat-error
          *ngIf="user_name.invalid && (user_name.dirty || user_name.touched)"
        >
          <span *ngIf="user_name.errors?.required">
            Please enter a username.
          </span>
          <span *ngIf="user_name.errors?.pattern">
            Please use alphanumeric characters only.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          id="password"
          type="password"
          placeholder="Password"
          formControlName="password"
          minlength="8"
          maxlength="20"
        />
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <span *ngIf="password.errors?.minlength"
            >Your password should at least have 8 characters.</span
          >
          <span *ngIf="password.errors?.required"
            >Please enter a password.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          id="passwordCheck"
          type="password"
          placeholder="Repeat your password"
          formControlName="passwordCheck"
          (change)="passwordCheckValidator()"
        />
        <mat-error
          *ngIf="
            passwordCheck.invalid &&
            (passwordCheck.dirty || passwordCheck.touched)
          "
        >
          <span *ngIf="passwordCheck.errors?.required"
            >Please retype your password.</span
          >
          <span
            *ngIf="
              passwordCheck.errors?.passwordCheck &&
              !passwordCheck.errors?.required
            "
            >Your passwords aren't matching.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          id="email"
          type="email"
          placeholder="your@mail.com"
          formControlName="email"
        />
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email.errors?.required"
            >Please enter an email adress.</span
          >
          <span *ngIf="email.errors?.email"
            >This is not a valid mail adress.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          id="birth_date"
          type="date"
          formControlName="birth_date"
          required
        />
        <mat-error
          *ngIf="birth_date.invalid && (birth_date.dirty || birth_date.touched)"
          >Please enter your birthday.</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [class.spinner]="loading"
        [disabled]="userDataForm.invalid"
        type="submit"
      >
        <span *ngIf="!loading">Sign up</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
