// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Light Theme
$MMM-client-Angular-primary: mat.define-palette(mat.$blue-grey-palette);
$MMM-client-Angular-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$MMM-client-Angular-warn: mat.define-palette(mat.$red-palette);

$MMM-client-Angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $MMM-client-Angular-primary,
      accent: $MMM-client-Angular-accent,
      warn: $MMM-client-Angular-warn,
    ),
  )
);
@include mat.all-component-themes($MMM-client-Angular-theme);

// Dark Theme
$MMM-client-Angular-primary-dark: mat.define-palette(mat.$grey-palette);
$MMM-client-Angular-accent-dark: mat.define-palette(mat.$deep-orange-palette);
$MMM-client-Angular-warn-dark: mat.define-palette(mat.$red-palette);

$MMM-client-Angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $MMM-client-Angular-primary-dark,
      accent: $MMM-client-Angular-accent-dark,
      warn: $MMM-client-Angular-warn-dark,
    ),
  )
);
.dark-theme-mode {
  @include mat.all-component-themes($MMM-client-Angular-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

@import "./general-style.scss";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#app__container {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(60px + max(2%, 10px)) max(2%, 10px) max(2%, 10px);
}

app-movie-card,
app-user-data {
  min-width: 250px;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
}

app-welcome-page {
  padding-top: calc(- 60px - max(2%, 10px));
  width: 100%;
}

app-movie-card {
  width: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
}

mat-dialog-container {
  min-width: 200px;
  width: 50vw !important;
  max-width: 400px;
  padding: 0 !important;

  @include md {
    padding: 24px !important;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .mat-card-header-text {
    margin: 0 0 12px !important;
  }
}

button {
  min-width: 100px;
  margin: 10px 5px 0 !important;
  height: 37px;
  transition: 0.2s !important;

  &:hover {
    transform: scale(1.025);
  }
}

.mat-slide-toggle-content {
  display: flex;
  align-items: center;
}

simple-snack-bar {
  button {
    margin: 0 !important;
  }
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-actions {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
}

.mat-menu-panel {
  max-width: unset !important;
}
