#user-data__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - calc(60px + max(2%, 10px)));
  animation: fadeIn 1s 0.5s backwards;

  mat-form-field {
    width: 100%;
    max-width: 600px;
    padding: 0 2% 2%;
  }

  #userData-button__container {
    display: flex;
  }
}
